{% extends "base.html" %}

{% block content %}
<head>
    <script>
        /* qrcode gen using js
           kinda lazy to do this with python
           zzz, i need to make this runnable on click though
           should be pushed to canvas*/
        var qr;
        (function() {
                qr = new QRious({
                element: document.getElementById('qr-code'),
                size: 200,
                value: 'http://127.0.0.1:5000/login'
            });
        })();
        function generateQRCode() {
            var qrtext = document.getElementById("qr-text").value;
            document.getElementById("qr-result").innerHTML = "QR code for " + qrtext +":";
            alert(qrtext);
            qr.set({
                foreground: 'white',
                size: 200,
                value: qrtext
            });
        }
    </script>
</head>
<div class="column is-4 is-offset-4">
    <h3 class="title">Login &#128272;</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Password">
                </div>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox">
                    Remember me
                </label>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Login</button>
        </form>
    </div>
</div>
{% endblock %}